<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        
    </nav>
    <h1>All Crawls Page</h1>
    <a href="/crawls/new"> NEW CRAWL</a>
    <% crawlDocs.forEach(c => { %>
        <div>crawl name
            <%= c.name %>
        </div>
        <div>crawl date
            <%= c.date %>
        </div>
        <div> Bars
            <%= c.bars %>
        </div>
        <a href="/crawls/<%= c._id %>">details</a>
        <a href="/crawls/<%= c._id %>/edit">edit</a>
    <% }); %>
</body>
</html>