<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="nav">
        <a href="/logout" class="logout">Logout</a>
        <a href="/crawls/new" class="new-crawl"> New Crawl</a>
        <!-- <img src="https://i.imgur.com/OIOlUJM.png" id="logo"  alt=""> -->
    </nav>
   
    <% crawlDocs.forEach(c => { %>
        <div>
            <%= c.name %>
            <%= c.date %>
            <% c.bars.forEach(b => { %>
                <%= b.name %>
           <% }); %>
           
            <a href="/crawls/<%= c._id %>" id="button">details</a>
            <a href="/crawls/<%= c._id %>/edit" id="button">edit</a>
        </div>
    <% }); %>
</body>
</html>